<h2> {{data_name}} </h2>

<h3> description </h3>
<p> {{description}} </p>

<h3> features </h3>
<ul>
    {{#each features}}
        <li> {{this}} </li>
    {{/each}}
</ul>

<h3> length </3>
<p> {{length}} </p>

<h3> source </3>
<p> <a href="{{source}}"> {{source}} </a> </p>

<h3> raw data </h3>
<a href="{{raw_data_path}}"> link to raw data </a>

<h3> user list </h3>
<ul>
    {{#each user_list}}
        <li> {{this}} </li>
    {{/each}}
</ul>

<h3> comment </h3>
<ul>
    {{#each comment}}
        <li> {{this}} </li>
    {{/each}}
</ul>

<br>

<h4>Make your comment</h4>
<p>

<label>

<script type="text/javascript">

function show()

{

var value = document.getElementById("div1").style.display;

if(value=="none")

{

document.getElementById("div1").style.display="block";

}

else

document.getElementById("div1").style.display="none";

}

</script>


<input type="button" value="Comment" onClick="show()"/>

<div id="div1" style="display:none">
    <form action="" method="POST">
        <textarea name="comment" id="comment" cols="30" rows="10" placeholder="type in your comment"></textarea>
        <button type="button" class="btn"> submit</button>
    </form>

</div>

</div>

<br>
<br>
<button type="button" class="btn"> <a href="../edit/{{dataId}}"> edit </a></button>
<br>

<form method="POST" action="/data/info/{{dataId}}?_method=DELETE">
    <button type="submit" onclick="javascript:return del();"> Delete this dataset

        <script type="text/javascript">

        function del() {
            var msg = "Are you sure to delete?";
            if (confirm(msg) === true) {
                alert('Successfully deleted');
                return true;
            } else {
                alert('Cancelled');
                return false;
            }
        }

        </script>
    </button>
</form>
<br>
<button type="button" class="btn"> <a href="../../"> back to home page </a></button>