{{#if notification}}
    <div id="notif" class="notif">

    <!-- notif content -->
    <div class="notif-content">
        <span class="close">×</span>
        <p> {{message}} </p>
    </div>

    </div>

    <script>
    // Get the notif
    var notif = document.getElementById('notif');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    document.addEventListener("DOMContentLoaded", function(event) { 
    notif.style.display = "block";
    });

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        notif.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == notif) {
            notif.style.display = "none";
        }
    }
    </script>

{{/if}}

<h2> {{data_name}} </h2>
<p class = "data_list"> {{data_type}} </p>

<h3> Description </h3>
<p class = "data_list"> {{description}} </p>

<h3> Features </h3>
<ul>
    {{#each features}}
        <li> {{this}} </li>
    {{/each}}
</ul>

<h3> Length </3>
<p class = "data_list"> {{length}} </p>

<h3> Source </3>
<p class = "data_list"> <a href="{{source}}"> {{source}} </a> </p>

<h3> Raw Data </h3>
<a href="{{raw_data_path}}" class = "data_list"> link to raw data </a>

<h3> Contributor </h3>
<p class = "data_list"> {{contributor}} </p>

<h3> Applied models </h3>
<ul>
    {{#each model_info_list}}
        <li> <a href="/model/info/{{id}}"> {{name}} </a> </li>
    {{/each}}
</ul>


<h3> Comment </h3>

<ul>
    <dl>
        <dt>Time: </dt>
        <dd>{{comment.0.commentDate}}</dd>
        <dt>Username: </dt>
        <dd>{{comment.0.username}}</dd>
        <dt>Comment: </dt>
        <dd>{{comment.0.comment}}</dd>
    </dl>
</ul>


<button type="button" class="btn"> <a href="/comment/data/{{dataId}}"> Leave a comment if you like! ... or hate? </a></button>

</div>

<br>
<br>
{{#if is_contributor}}
    <button type="button" class="btn"> <a href="../edit/{{dataId}}"> edit </a></button>
    <br>

    <form method="POST" action="/data/info/{{dataId}}?_method=DELETE">
        <button type="submit" onclick="javascript:return del();"> Delete this dataset

            <script type="text/javascript">

            function del() {
                var msg = "Are you sure to delete?";
                if (confirm(msg) === true) {
                    alert('Successfully deleted');
                    return true;
                } else {
                    alert('Cancelled');
                    return false;
                }
            }

            </script>
        </button>
    </form>
{{else}}
    <form action="./{{dataId}}" method="POST">
        <button type="submit" value="{{dataId}}" name="dataId"> add to data list </button>
    </form>
    <br>
    {{#if user_in_data_user_list}}
    <form method="POST" action="/data/info/{{dataId}}?_method=DELETE">
        <button type="submit" onclick="javascript:return del();"> Remove this dataset

            <script type="text/javascript">

            function del() {
                var msg = "Are you sure to delete?";
                if (confirm(msg) === true) {
                    alert('Successfully deleted');
                    return true;
                } else {
                    alert('Cancelled');
                    return false;
                }
            }

            </script>
        </button>
    </form>
    {{/if}}
{{/if}} 
<br>
<button type="button" class="btn"> <a href="../../"> back to home page </a></button>