
{{#if notification}}
    <div id="notif" class="notif">

    <!-- notif content -->
    <div class="notif-content">
        <span class="close">×</span>
        <p> {{message}} </p>
    </div>

    </div>

    <script>
    // Get the notif
    var notif = document.getElementById('notif');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    document.addEventListener("DOMContentLoaded", function(event) { 
    notif.style.display = "block";
    });

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
        notif.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == notif) {
            notif.style.display = "none";
        }
    }
    </script>

{{/if}}

<h2> {{model_name}} </h2>

<h3> category </h3>
<p> {{category}} </p>

<h3> description </h3>
<p> {{description}} </p>

<h3> link </3>
<p> <a href="{{link}}"> {{link}} </a> </p>

<h3> input </h3>
<p> {{input}} </p>

<h3> output </3>
<p> {{output}} </p>

<h3> Contributor </h3>
<p> {{contributor}} </p>

<h3> data list </h3>
<ul>
    {{#each data_info_list}}
        <li> <a href="/data/info/{{id}}"> {{name}} </a> </li>
    {{/each}}
</ul>

<h3> Comment </h3>

<ul>
    <dl>
        <dt>Time: </dt>
        <dd>{{comment.0.commentDate}}</dd>
        <dt>Username: </dt>
        <dd>{{comment.0.username}}</dd>
        <dt>Comment: </dt>
        <dd>{{comment.0.comment}}</dd>
    </dl>
</ul>


<button type="button" class="btn"> <a href="/comment/model/{{modelId}}"> Leave a comment if you like! ... or hate? </a></button>

</div>

<br>
<br>
{{#if is_contributor}}
    <button type="button" class="btn"> <a href="../edit/{{modelId}}"> edit </a></button>
    <button type="button" class="btn"> <a href="../run/{{modelId}}"> run your model </a></button>
    <br>
    <form method="POST" action="/model/info/{{modelId}}?_method=DELETE">
        <button type="submit" onclick="javascript:return del();"> Delete this model

            <script type="text/javascript">

            function del() {
                var msg = "Are you sure to delete?";
                if (confirm(msg) === true) {
                    alert('Successfully deleted');
                    return true;
                } else {
                    alert('Cancelled');
                    return false;
                }
            }

            </script>
        </button>
    </form>
{{else}}
    <form action="./{{modelId}}" method="POST">
        <button type="submit" value="{{modelId}}" name="modelId"> add to model list </button>
    </form>
    <br>
    <form method="POST" action="/model/info/{{modelId}}?_method=DELETE">
        <button type="submit" onclick="javascript:return del();"> Remove this model

            <script type="text/javascript">

            function del() {
                var msg = "Are you sure to delete?";
                if (confirm(msg) === true) {
                    alert('Successfully deleted');
                    return true;
                } else {
                    alert('Cancelled');
                    return false;
                }
            }

            </script>
        </button>
    </form>
{{/if}}
<br>
<button type="button" class="btn"> <a href="../../"> back to home page </a></button>