<h2> {{model_name}} </h2>

<h3> category </h3>
<p> {{category}} </p>

<h3> description </h3>
<p> {{description}} </p>

<h3> link </3>
<p> <a href="{{link}}"> {{link}} </a> </p>

<h3> input </h3>
<p> {{input}} </p>

<h3> output </3>
<p> {{output}} </p>

<h3> Contributor </h3>
<p> {{contributor}} </p>

<h3> data list </h3>
<ul>
    {{#each data_info_list}}
        <li> <a href="/data/info/{{id}}"> {{name}} </a> </li>
    {{/each}}
</ul>

<h3> Comment </h3>
<h4> <a href="/comment/model/{{modelId}}">See more comments</a> </h4>
<ul>
    {{#each comment}}
        <li> {{this}} </li>
    {{/each}}
</ul>

<br>

<h4>Make your comment</h4>
<p>

<label>

<script type="text/javascript">

function show()

{

var value = document.getElementById("div1").style.display;

if(value=="none")

{

document.getElementById("div1").style.display="block";

}

else

document.getElementById("div1").style.display="none";

}

</script>


<input type="button" value="Comment" onClick="show()"/>

<div id="div1" style="display:none">
    <form action="" method="POST">
        <textarea name="comment" id="comment" cols="30" rows="10" placeholder="type in your comment"></textarea>
        <button type="button" class="btn"> submit</button>
    </form>

</div>

</div>

<br>
<br>
{{#if is_contributor}}
    <button type="button" class="btn"> <a href="../edit/{{modelId}}"> edit </a></button>
    <button type="button" class="btn"> <a href="../run/{{modelId}}"> run your model </a></button>
    <br>
    <form method="POST" action="/model/info/{{modelId}}?_method=DELETE">
        <button type="submit" onclick="javascript:return del();"> Delete this model

            <script type="text/javascript">

            function del() {
                var msg = "Are you sure to delete?";
                if (confirm(msg) === true) {
                    alert('Successfully deleted');
                    return true;
                } else {
                    alert('Cancelled');
                    return false;
                }
            }

            </script>
        </button>
    </form>
{{else}}
    <form action="./{{modelId}}" method="POST">
        <button type="submit" value="{{modelId}}" name="modelId"> add to model list </button>
    </form>
    <br>
    <form method="POST" action="/model/info/{{modelId}}?_method=DELETE">
        <button type="submit" onclick="javascript:return del();"> Remove this model

            <script type="text/javascript">

            function del() {
                var msg = "Are you sure to delete?";
                if (confirm(msg) === true) {
                    alert('Successfully deleted');
                    return true;
                } else {
                    alert('Cancelled');
                    return false;
                }
            }

            </script>
        </button>
    </form>
{{/if}}
<br>
<button type="button" class="btn"> <a href="../"> back to home page </a></button>