<h2> {{model_name}} </h2>

<h3> Comment </h3>
<ul>
    {{#each comment}}
        <li> 
            <dl>
                <dt>Time</dt>
                <dd>{{this.commentDate}}</dd>
                <dt>Username</dt>
                <dd>{{this.username}}</dd>
                <dt>Comment</dt>
                <dd>{{this.comment}}</dd>
            </dl>
        </li>
    {{/each}}
</ul>

<br>

<h4>Make your comment</h4>
<p>

<label>

<script type="text/javascript">

function show()

{

var value = document.getElementById("div1").style.display;

if(value=="none")

{

document.getElementById("div1").style.display="block";

}

else

document.getElementById("div1").style.display="none";

}

</script>

<form id="create-comment-form" action="/comment/model/{{modelId}}" method="POST">
    <label for="username">Username: </label>
    <input id="username" name="username">
    <br>
    <label for="comment"> Comment: </label>
    <textarea name="comment" id="comment" cols="30" rows="10" placeholder="type in your comment"></textarea>
    <br>
    <button type="submit">Submit</button>
</form>

<button type="button" class="btn"> <a href="/model/info/{{modelId}}"> back to mdoel page </a></button>
<br>
<button type="button" class="btn"> <a href="../../"> back to home page </a></button>